<router-outlet></router-outlet>
<div class="wrapper_bottom">
  <div class="wrapper_btn">
    <a class="btn_link" routerLink="/home/input" routerLinkActive="active"><i class="fa fa-keyboard-o fa-2x" aria-hidden="true"></i></a>
  </div>
  <div class="wrapper_btn">
    <a class="btn_link" routerLink="/home/graph" routerLinkActive="active"><i class="fa fa-line-chart fa-2x" aria-hidden="true"></i></a>
  </div>
  <div class="wrapper_btn">
    <a class="btn_link" routerLink="/home/analysis" routerLinkActive="active"><i class="fa fa-table fa-2x" aria-hidden="true"></i></a>
  </div>
  <div class="wrapper_btn">
    <a class="btn_link" routerLink="/home/setting" routerLinkActive="active"><i class="fa fa-sliders fa-2x" aria-hidden="true"></i></a>
  </div>
</div>
