<a class="btn_logout" (click)="onClickSignOut()">Logout</a>
<router-outlet></router-outlet>
<div class="wrapper_bottom">
  <div class="wrapper_btn">
    <a class="btn_link" routerLink="/home/input" routerLinkActive="active">input</a>
  </div>
  <div class="wrapper_btn">
    <a class="btn_link" routerLink="/home/graph" routerLinkActive="active">graph</a>
  </div>
  <div class="wrapper_btn">
    <a class="btn_link" routerLink="/home/analysis" routerLinkActive="active">analysis</a>
  </div>
  <div class="wrapper_btn">
    <a class="btn_link" routerLink="/home/setting" routerLinkActive="active">setting</a>
  </div>
</div>
