<div class="wrapper">
  <div class="container">
    <h1>Inbody Greeting!</h1>

    <div class="wrap_form">
      <input type="text" [(ngModel)]="id" placeholder="UserId">
      <input type="password" [(ngModel)]="password" placeholder="Password">
      <button type="submit" (click)="login()">Let me in</button>
    </div>
  </div>

  <ul class="bg-bubbles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>
