<h3>User Info</h3>
<hr>
<app-user [user]="user$|async" (updateUserInfo)="onClickUpdateUserInfo($event)"></app-user>

<div class="form-group">
  <div class="btn-group col-sm-offset-2 col-sm-10" role="group">
    <button type="button" class="btn btn-default" (click)="onClickRemoveAllBodyInfo()">전체 데이터 삭제</button>
  </div>
</div>
<div class="form-group">
  <div class="btn-group col-sm-offset-2 col-sm-10" role="group">
    <button type="button" class="btn btn-default" (click)="onClickSignOut()">로그아웃</button>
  </div>
</div>
